@charset "utf-8";
@font-face{ 
    font-family:'score1'; 
    src:url('../font/S-CoreDream-1Thin.woff'); 
    src: url('../font/S-CoreDream-1Thin.woff') format(‘woff’); 
    font-weight: normal; 
    font-style: normal; 
} 
@font-face{ 
    font-family:'score2'; 
    src:url('../font/S-CoreDream-2ExtraLight.woff'); 
    src: url('../font/S-CoreDream-2ExtraLight.woff') format(‘woff’); 
    font-weight: normal; 
    font-style: normal; 
} 
@font-face{ 
    font-family:'score3'; 
    src:url('../font/S-CoreDream-3Light.woff'); 
    src: url('../font/S-CoreDream-3Light.woff') format(‘woff’); 
    font-weight: normal; 
    font-style: normal; 
} 
@font-face{ 
    font-family:'score4'; 
    src:url('../font/S-CoreDream-4Regular.woff'); 
    src: url('../font/S-CoreDream-4Regular.woff') format(‘woff’); 
    font-weight: normal; 
    font-style: normal; 
} 
@font-face{ 
    font-family:'score5'; 
    src:url('../font/S-CoreDream-5Medium.woff'); 
    src: url('../font/S-CoreDream-5Medium.woff') format(‘woff’); 
    font-weight: normal; 
    font-style: normal; 
} 
@font-face{ 
    font-family:'score6'; 
    src:url('../font/S-CoreDream-6Bold.woff'); 
    src: url('../font/S-CoreDream-6Bold.woff') format(‘woff’); 
    font-weight: normal; 
    font-style: normal; 
} 
@font-face{ 
    font-family:'score7'; 
    src:url('../font/S-CoreDream-7ExtraBold.woff'); 
    src: url('../font/S-CoreDream-7ExtraBold.woff') format(‘woff’); 
    font-weight: normal; 
    font-style: normal; 
} 
@font-face{ 
    font-family:'score8'; 
    src:url('../font/S-CoreDream-8Heavy.woff'); 
    src: url('../font/S-CoreDream-8Heavy.woff') format(‘woff’); 
    font-weight: normal; 
    font-style: normal; 
} 
@font-face{ 
    font-family:'score9'; 
    src:url('../font/S-CoreDream-9Black.woff'); 
    src: url('../font/S-CoreDream-9Black.woff') format(‘woff’); 
    font-weight: normal; 
    font-style: normal; 
} 

