/* layout */
.wrap{width:100%;overflow: hidden;height:100%;}
.wrap .bg{width:100%;height: 300px;background:#004999;position: fixed;top:0;}
.wrap .content{width:1400px;height: calc(100% - 120px);background: #f2f3f7;border-radius: 50px 50px 0 0;padding: 20px;position: relative;margin:0 auto;top: 120px;z-index: 1;box-shadow: 0px 0px 29px #0400003D;}
.wrap .content > div{ display:none; height:100%; }
.wrap .content > div.on{ display:block; }
/* header */
.wrap ul.menu{width: 1400px;margin: 0 auto;padding: 42px 40px;position: absolute;z-index: 2;left: calc(50% - 700px);}
.wrap ul.menu:after{ content:''; display:block; clear:both; }
.wrap ul.menu li{float: left;font-size:18px;color:#ddd;font-family: 'score3', sans-serif;margin-right: 60px;line-height: 2; cursor: pointer;}
.wrap ul.menu li.on{ color:#fff; font-family: 'score6', sans-serif; }
.wrap ul.menu li:last-child{ float: right; margin-right:0; }
.wrap .right_text{position: fixed;left: -3px;top: 300px;line-height: 1;font-family: 'score5', sans-serif;}
.wrap .right_text p{text-align: right;display:none;}
.wrap .right_text p img{ display:inline-block; }
.wrap .right_text p.on{ display:block; }
.wrap .logo{padding-top: 37px;text-align:center;position: absolute;z-index: 2;top: 0;width: 200px;left: calc(50% - 100px);}
.wrap .logo a{display:block;}
.wrap .logo a img{height: 33px;display: inline-block;width: auto;}
.wrap .ham_btn{float: right;position: absolute;z-index: 3;right: 20px;top: 10px; display:none;}
.wrap .ham_btn button{padding-right: 0;background: url(../images/icon_ham.png) no-repeat center right;background-size: 27px;width: 40px;height: 40px;}
.wrap .ham_btn button.on{background: url(../images/icon_close.png) no-repeat center right;background-size: 27px;width: 40px;height: 40px;}
/* .wrap .ham_btn img{display: block;height: 20px;} */

/* search_wrap */
.wrap .content .search_wrap{width:100%;padding: 0 20px 0 20px;margin-bottom: 10px;}
.wrap .content .search_wrap:after{ content:''; display:block; clear:both; }
.wrap .content .search_wrap .search_box{width:255px;height: 40px;border-bottom: 2px solid #333;padding: 0;float: right;}
.wrap .content .search_wrap .search_box:after{ content:''; display:block; clear:both;}
.wrap .content .search_wrap .search_box input{line-height: 40px;width: calc(100% - 41px);font-size:14px;display:block;float: left;background: none;border: 0;font-size: 16px;padding-left: 10px;}
.wrap .content .search_wrap .search_box input::placeholder{ color:#ddd;}
.wrap .content .search_wrap .search_box button{line-height: 40px;width: 40px;display:block;float: left;height: 40px;background:url(../images/icon_search.png) no-repeat center;}
/* tab_title */
.wrap .content .tab_title {width:100%;padding: 0 20px;}
.wrap .content .tab_title ul{width:100%;border-bottom:2px solid #ddd;position: relative;}
.wrap .content .tab_title ul:after{ content:''; display:block; clear:both; }
.wrap .content .tab_title ul li{width:calc(100% / 2);text-align: center;line-height: 50px;color:#ddd;float:left;font-size: 18px;cursor: pointer;transition: all 0.6s;}
.wrap .content .tab_title ul li.on{color:#333;font-weight: bold;cursor: default;}
.wrap .content .tab_title ul li.line{position: absolute;left:0;top: 50px;height:2px;background: #333;transition: left 0.6s;}
/* wrap_content*/
.wrap .content .wrp_tab_content {display: flex; justify-content: end;}
/* wrap_content*/
/* tab_content */
.wrap .content .tab_content{padding-top: 20px;font-size:14px;height: calc(100% - 82px);overflow-y: auto;padding-bottom: 30px;}
.wrap .content .tab_content:after{ content:''; display:block; clear:both; }
.wrap .content .tab_content li{width: 194px;height: 194px;float:left;padding: 19px;background: url(../images/bg_list.png) no-repeat;background-size: contain;transition: all 0.6s;}
.wrap .content .tab_content li div{ transition:all 0.6s; }
.wrap .content .tab_content li div:first-child{padding: 18px 15px 18px 10px;height: 100%;}
.wrap .content .tab_content li div:first-child p.img{text-align: center;padding: 24px 0;text-align: center;}
.wrap .content .tab_content li div p.img img{width: 53px;height: 53px;}
.wrap .content .tab_content li div:first-child p.keyword{line-height:1;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;text-align: center;}
.wrap .content .tab_content li div:first-child p.keyword span{ display: inline-block; }
.wrap .content .tab_content li div:last-child{padding: 35px 38px 35px 35px;height: 100%;text-align: center;display:none;}
.wrap .content .tab_content li div:last-child p{line-height: 30px;}
.wrap .content .tab_content li div:last-child p a{display: block;background: url(../images/icon_download.png) no-repeat center right 17px;text-indent: -22px;color: #333;}
.wrap .content .tab_content li div:last-child p a img{opacity: 0; width:0; height:0;}
.wrap .content .tab_content li div:last-child p a:hover{background: url(../images/icon_download_on.png) no-repeat center right 17px;color:#004999; font-weight: bold;}
.wrap .content .tab_content li div:last-child p.svg{margin-bottom: 30px;}
.wrap .content .tab_content li:hover{ background:url(../images/bg_list_on.png) no-repeat center; background-size:contain; transition: all 0.6s;}
.wrap .content .tab_content li:hover div:first-child{ display:none; }
.wrap .content .tab_content li:hover div:last-child{ display:block; }
/* tab_content style */
.wrap .content .template_wrap .tab_content{ height:100%; padding-top:0; }
.wrap .content .template_wrap .tab_content li div:first-child p.img{padding: 11px 0;}
.wrap .content .template_wrap .tab_content li div:first-child p.img img{width: auto;height: 78px;}
.wrap .content .template_wrap .tab_content li div:last-child{padding: 61px 20px;}
.wrap .content .template_wrap .tab_content li div:last-child p.ppt a{ background: url(../images/icon_download.png) no-repeat center right 16px; text-indent: -27px; }
.wrap .content .template_wrap .tab_content li div:last-child p.ppt a:hover{ background: url(../images/icon_download_on.png) no-repeat center right 16px; text-indent: -27px; }
.wrap .content .info_wrap .tab_content{ height:100%; padding-top:0; }
.wrap .content .info_wrap .tab_content li div:first-child p.img{padding: 11px 0;}
.wrap .content .info_wrap .tab_content li div:first-child p.img img{width: auto;height: 60px;}
.wrap .content .info_wrap .tab_content li div:last-child{padding-top: 61px; padding-bottom:61px;}
.wrap .content .content_selected {width: 200px !important;}
/* tab_content_detail*/
.wrap .content .content_detail {display:none; width:470vw}
/* tab_content_detail*/
// @media screen and (max-width:1400px){
//     .wrap .content{ margin:0; border-radius: 0; width:100%; }
//     .wrap ul.menu{ width:100%; margin:0; left:0; }
// }
@media screen and (max-width:600px){
    .wrap .right_text{ display:none; }
    .wrap .ham_btn{ display:block; }
    .wrap ul.menu{ display:none; width: 100%;height: 100%;background: #fff; position: fixed; z-index: 3;}
    .wrap ul.menu li{float:none;margin-bottom: 20px;font-size: 30px;}
    .wrap ul.menu li:last-child{ float:none; }
    .wrap ul.menu li.on{ color:#333; }
    .wrap .logo{ padding-top: 0; top: 14px; }
    .wrap .logo a img{height: 25px;}
    .wrap .content .tab_title ul li{font-size:16px;}
    .wrap .content{ top: 60px; padding: 20px 10px; height: calc(100% - 60px);}
    .wrap .content .search_wrap{ padding:0 10px; }
    .wrap .content .search_wrap .search_box{width:100%;}
    .wrap .content .tab_title{ padding:0 10px; }
    .wrap .content .tab_content{ padding-bottom:10px; }
    .wrap .content .tab_content li{ width:118px; height:118px; padding: 10px; }
    .wrap .content .tab_content li div:first-child { padding: 8px 5px 8px 0px;}
    .wrap .content .tab_content li div:first-child p.img{ padding:13px 0; }
    .wrap .content .tab_content li div:first-child p.img img{ width:30px; height:30px; }
    .wrap .content .tab_content li div:first-child p.keyword{ font-size:11px;}
    .wrap .content .tab_content li div:last-child{ padding: 15px 18px 15px 15px; }
    .wrap .content .tab_content li div:last-child p{  }
    .wrap .content .tab_content li div:last-child p a{ background: url(../images/icon_download.png) no-repeat center right 11px; text-indent: -19px; background-size: 15px; font-size:12px;}
    .wrap .content .tab_content li div:last-child p a:hover{ background: url(../images/icon_download_on.png) no-repeat center right 11px; text-indent: -19px; background-size: 15px;}
    .wrap .content .tab_content li div:last-child p.svg{margin-bottom:6px;}
    .wrap .content .template_wrap .tab_content li div:first-child p.img img{ height:36px; }
    .wrap .content .template_wrap .tab_content li div:last-child{ padding: 33px 10px; }
    .wrap .content .template_wrap .tab_content li div:last-child p.ppt a{ background: url(../images/icon_download.png) no-repeat center right 3px;background-size: 15px; }
    .wrap .content .template_wrap .tab_content li div:last-child p.ppt a:hover{ background: url(../images/icon_download_on.png) no-repeat center right 3px;background-size: 15px; }
    .wrap .content .info_wrap .tab_content li div:last-child{ padding: 33px 10px; }
    .wrap .content .info_wrap .tab_content li div:first-child p.img{ padding:11px 0 5px; }
    .wrap .content .info_wrap .tab_content li div:first-child p.img img{height:34px;}
}

// icon 
.one-botton {width: 40px;}